// import font
@import "./base/base";
@import "./utils/variables";
@import "./utils/mixins";
@import "./components/btn.scss";
@import "./layouts/header";
@import "./layouts/footer";
@import "./pages/accueil.scss";

//GENERAL
body {
  font-family: $font-principale;
}

* {
  box-sizing: border-box;
}
ul,
a {
  text-decoration: none;
  color: black;
  list-style: none;
}
h2,
a,
p {
  font-family: $font-principale;
}
h1,
.footer__title {
  font-family: $font-secondary;
}
