@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.btn-explore {
  width: 60%;
  height: 50px;
  margin: 20px 0 60px 0;
  border-radius: 30px;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0 2px 4px #636363cc;
  border: none;
}
.btn-explore__title {
  color: white;
  font-weight: bold;
  text-align: center;
}

header {
  position: sticky;
  top: 0;
  background: white;
  height: 65px;
  box-shadow: 0 2px 4px #818080cc;
  display: flex;
  justify-content: center;
  align-items: center;
}
header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header__logoimg {
  max-width: 25vh;
}

/*footer {
  background: rgb(88, 88, 88);
  height: 200px;
  &__container {
    margin-left: 20px;
  }
  &__title {
    color: $color-white;
    font-family: $font-secondary;
    letter-spacing: 0.05rem;
    margin: 0;
    padding: 20px 0px 18px 0px;
  }
  &__text {
    margin: 8px 0;
    .fas {
      font-size: 0.7rem;
      margin-left: 8px;
    }
  }
  &__link {
    @include link-texte($color: white, $size: 1rem);
  }
  &__linklight {
    @include link-texte($color: white, $weight: $weight-subtitle, $size: 1rem);
  }
}*/
.local {
  background-color: #f6f6f6;
}

.location {
  height: 8vh;
  background-color: #ebe9e9;
}
.location__link {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
}
.location__linki {
  font-size: larger;
}
.location .location-text {
  margin: 0 25px;
}

.reserve {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reserve h2 {
  text-align: center;
  margin: 35px 50px 0px 50px;
}
.reserve .reserve__desc {
  font-size: 1.1rem;
  font-weight: normal;
  text-align: center;
  margin: 20px;
}

.select {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.select-title {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 50px 0 10px 20px;
  margin: 0;
}

.select-card {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  border-radius: 20px;
  margin: 10px 20px 10px 25px;
  box-shadow: 2px 2px 7px #d3d3d3;
}
.select-card .number {
  margin-left: -10px;
  height: 27px;
  width: 27px;
  background: #9356dc;
  border-radius: 20px;
}
.select-card .select-numb {
  margin: 4px 0 0 9px;
  font-weight: bold;
  color: white;
}
.select-card .fas {
  width: 15px;
  height: 15px;
  margin-left: 20px;
}
.select-card .select-text {
  color: black;
  font-weight: bold;
  padding: 27px;
  margin: 0;
}

/*.restaurants {
  background: $color-grey;
}
.restaurants-title {
  font-weight: $weight-title;
  font-size: $size-title;
  padding: 50px 0 10px 20px;
  margin: 0;
}
.container-restaurents {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
}
article {
  position: relative;
  background: white;
  height: 250px;
  border-radius: 20px;
  margin: 20px;
  box-shadow: 2px 2px 7px #d3d3d3;
  .card {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
*/
body {
  font-family: "Roboto";
}

* {
  box-sizing: border-box;
}

ul,
a {
  text-decoration: none;
  color: black;
  list-style: none;
}

h2,
a,
p {
  font-family: "Roboto";
}

h1,
.footer__title {
  font-family: "Shrikhand";
}

/*# sourceMappingURL=style.css.map */
