.btn-explore {
  width: 60%;
  height: 50px;
  margin: 20px 0 60px 0;
  border-radius: 30px;
  background: $gradient-btn;
  box-shadow: 0 2px 4px #636363cc;
  border: none;
  a {
    color: $color-white;
    font-weight: $weight-title;
  }
}
