/*Base*/

body {
  box-sizing: border-box;
  font-size: 16px;
}

ul,
a {
  text-decoration: none;
  color: black;
  list-style: none;
}
h2,
a,
p {
  font-family: $font-principale;
}
h1 {
  font-family: $font-secondaire;
}
