@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

//GENERAL
body {
  font-family: "roboto", sans-serif;
  margin: auto;
}
* {
  box-sizing: border-box;
}
ul,
a {
  text-decoration: none;
  list-style: none;
}

h1,
h2,
a,
p {
  font-family: "roboto", sans-serif;
}

.footer__title {
  font-family: "Shrikhand", sans-serif;
}
