// COLORS

$color-primaire: #9356dc;
$color-secondaire: #ff79da;
$color-tertiary: #99e2d0;
$color-white: white;
$color-grey: #f6f6f6;

//GRADIENTS
$gradient-btn: linear-gradient($color-secondaire, $color-primaire);

// FONTS
$font-principale: "Roboto";
$font-secondaire: "Shrikhand";
