.reserve__btn {
  height: 50px;
  width: 220px;
  margin: 20px 0 60px 0;
  border-radius: 30px;
  background: $gradient-btn;
  box-shadow: $shadow;
  border: none;
  &__button {
    color: $color-white;
    font-weight: $weight-title;
    text-align: center;
  }
  &:hover {
    background: $gradient-hover;
    box-shadow: $shadow-light;
  }
}
