//section location

.local {
  background-color: $color-grey;
}
.location {
  background-color: #ebe9e9;
  &__link {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include link-text;
  }

  &__text {
    margin: 0 25px;
    font-weight: 500;
  }
}

.reserve {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  &__title {
    text-align: center;
    margin: 35px 50px 0px 50px;
    font-size: $size-title;
  }

  &__desc {
    font-size: 1.1rem;
    text-align: center;
    margin: 20px;
    font-weight: 300;
  }
}

//Section select
.select {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @include respond(desktop) {
    flex-direction: row;
    align-items: baseline;
  }
  @include respond(mobile) {
    flex-direction: column;
    align-items: center;
  }
  &__title {
    font-weight: $weight-title;
    font-size: $size-title;
    padding: 50px 0 10px 20px;
    margin: 0;
  }
  &__card {
    display: flex;
    align-items: center;
    background: $color-grey;
    border-radius: 20px;
    margin: 10px 20px 10px 25px;
    box-shadow: $shadow-select;

    @include respond(desktop) {
      width: 88%;
      height: 90px;
    }
    @include respond(mobile) {
      height: 80px;
    }

    &:hover {
      background: lighten($color-primary, 35%);
      transition: background-color 1s;

      .fas {
        color: $color-primary;
      }
    }
  }

  .number {
    position: relative;
    margin-left: -10px;
    height: 27px;
    width: 27px;
    background: $color-primary;
    border-radius: 20px;
  }
  &__numb {
    margin: 4px 8px 0 9px;
    color: white;
  }
  .fas {
    width: 10px;
    margin-left: 20px;
    color: $color-header;
  }
  &__text {
    color: $color-black;
    padding: 27px;
    margin: 0;
    font-weight: 500;

    @include respond(desktop) {
      margin-left: 10px;
    }
  }
}
//SECTION RESTAURANT
.restaurants {
  background-color: $color-grey;
  padding-top: 20px;

  &__container {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    //BREAKPOINT
    @include respond(desktop) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  &__title {
    margin: 10px 0 0 22px;
  }
}

.restaurant {
  position: relative;
  background: $color-white;
  height: 250px;
  border-radius: 20px;
  margin: 20px;
  box-shadow: $shadow-select;

  @include respond(desktop) {
    width: 40%;
  }
  @include respond(mobile) {
    width: 100%;
  }
  &__link {
    text-decoration: none;
    color: black;
  }
  &__card {
    overflow: hidden;
    height: 70%;
  }
  &__img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .restaurant__heart:hover {
    .fas.fa-heart {
      opacity: 1;
      transition: 0.3s ease-in-out;
    }
    .far.fa-heart {
      opacity: 0;
      transition: 0.3s ease-in-out;
    }
  }
  .fas.fa-heart {
    @include heart;
    background: $gradient-btn;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0;
  }
  .far.fa-heart {
    @include heart;
    opacity: 1;
  }
  &__new {
    @include newcard;
  }
  &__title {
    @include title;
  }

  &__city {
    @include sous-title;
  }
}
