//Section menu-restaurant
.menu-header {
  height: 320px;
}

.menu__restaurant {
  position: relative;
  background-color: $color-grey;
  border-radius: 45px 45px 0px 0px;
  margin-top: -70px;
  padding-bottom: 30px;

  &__title {
    font-family: $font-secondary;
    font-weight: $weight-subtitle;
    font-size: 1.75rem;
    margin: 20px;
    padding-top: 30px;
    margin-bottom: 30px;
  }
  .restaurant__heart:hover {
    .fas.fa-heart {
      opacity: 1;
      transition: 0.3s ease-in-out;
    }
    .far.fa-heart {
      opacity: 0;
      transition: 0.3s ease-in-out;
    }
  }
  .fas.fa-heart {
    font-size: 1.5rem;
    position: absolute;
    right: 25px;
    background: $gradient-btn;
    -webkit-background-clip: text;
    color: transparent;
    top: 30px;
    opacity: 0;
  }
  .far.fa-heart {
    font-size: 1.5rem;
    position: absolute;
    right: 25px;
    top: 30px;
    opacity: 1;
  }
}
//Section menu article
.menu__bloc {
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;

  @include respond(desktop) {
    display: flex;
    flex-direction: row;
  }

  @include respond(tablet) {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.menu {
  margin: 10px;
  background: $color-white;
  height: 70px;
  border-radius: 20px;
  box-shadow: $shadow-select;
  position: relative;
  animation: menu 1s ease 0s 1 normal both;
  .menu:hover ~ .menu__subtitle > .menu__check {
    display: block;
  }

  @include respond(desktop) {
    width: 100%;
  }
  @include respond(tablet) {
    width: 28%;
  }
  @include respond(mobile) {
    width: 98%;
  }

  &__text {
    text-transform: uppercase;
    font-size: $size-subtitle;
    font-weight: $weight-subtitle;
    margin: 35px 0px 8px 20px;
    border-bottom: 3px solid $color-tertiary;
    width: 40px;
    height: 30px;
  }
  &__meal {
    margin: 15px 15px 0 15px;
    font-weight: bold;
    font-size: 1rem;
  }
  &__subtitle {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    cursor: pointer;
  }

  &__more {
    margin: 10px 5px 15px 15px;
    font-weight: $weight-subtitle;
    font-size: $size-subtitle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__price {
    display: block;
    margin: 0;
    font-weight: bold;
    padding-left: 10px;
    width: 50px;
  }

  .far {
    position: absolute;
    left: 35px;
    top: 25px;
    font-size: 1.5rem;
    color: white;
    opacity: 1;
  }
  &__check {
    width: 23%;
    height: 70px;
    border-radius: 0 10px 10px 0;
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 360px;
    @include respond(mobile) {
      width: 23%;
    }
  }

  &__check:hover {
    background-color: $color-tertiary;
    box-shadow: $shadow-select;
    animation: check 1s linear 1s 1 normal none;
  }

  @keyframes menu {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
