//BREAKPOINTS
@mixin respond($breakpoint) {
  @if $breakpoint == medium {
    @media (max-width: 1024px) {
      @content;
    }
  }
  @if $breakpoint == small {
    @media (max-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == large {
    @media (max-width: 2000px) {
      @content;
    }
  }
}

@mixin desktop {
  @media screen and (min-width: map-get($breakpoints,desktop)) {
    @content;
  }
}

@mixin link-text($color: black, $weight: $weight-title, $size: $size-subtitle) {
  text-decoration: none;
  color: $color;
  font-weight: $weight;
  font-size: $size;
}

@mixin title {
  margin: 15px 0px 5px 15px;
  font-weight: $weight-title;
  font-size: $size-subtitle;
}

@mixin sous-title($size: $size-subtitle) {
  margin: 0px 0px 0px 15px;
  font-weight: $weight-subtitle;
  font-size: $size;
}
