// COLORS

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-white: white;
$color-grey: #f6f6f6;
$color-header: #818080cc;
$color-shadow-btn: #555252;
$color-shadow-select: #cac7c7;
$color-black: rgb(7, 7, 7);

//GRADIENTS
$gradient-btn: linear-gradient($color-secondary, $color-primary);
$gradient-hover: lighten($color-primary, 20%);

// FONTS
$font-principale: "Roboto";
$font-secondary: "Shrikhand";

//SHADOWS
$shadow-light: 4px 2px 7px $color-shadow-btn;
$shadow: 0 4px 4px $color-header;
$shadow-select: 2px 2px 7px $color-shadow-select;

//SIZES FONTS AND WEIGHTS
$size-title: 1.5rem;
$size-subtitle: 1rem;
$weight-title: bold;
$weight-subtitle: normal;

//BREAKPOINTS
$breakpoints: (
  desktop: 2000px,
  mobile: 768px,
  tablet: 992,
);
