// COLORS

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-white: white;
$color-grey: #f6f6f6;
$color-header: #818080cc;
$color-shadow-light: #d3d3d3;
$color: black;

//GRADIENTS
$gradient-btn: linear-gradient($color-secondary, $color-primary);
$gradient-hover: linear-gradient($color-primary, lighten($color-primary, 10));

// FONTS
$font-principale: "Roboto";
$font-secondary: "Shrikhand";

//SHADOWS
$shadow-light: 2px 2px 7px $color-shadow-light;
$shadow: 0 2px 4px $color-header;

//SIZES FONTS AND WEIGHTS
$size-title: 1.5rem;
$size-subtitle: 1rem;
$weight-title: bold;
$weight-subtitle: normal;
