//FOOTER
.footer-main {
  background: rgb(88, 88, 88);
  height: 200px;
}
.footer__container {
  margin-left: 20px;

  &__title {
    color: $color-white;
    font-family: $font-secondary;
    letter-spacing: 0.05rem;
    margin: 0;
    padding: 20px 0px 18px 0px;
  }
}
.footer__text {
  margin: 8px 0;
  .fas {
    font-size: 0.7rem;
  }

  &__link {
    @include link-texte($color: $color-white, $size: 1rem);
  }
  &__linkregular {
    @include link-texte(
      $color: $color-white,
      $weight: $weight-subtitle,
      $size: 1rem
    );
  }
}
