// Header
.header-logo {
  position: sticky;
  top: 0;
  z-index: 2;
  background: $color-white;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $shadow;

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  &__arrow {
    position: absolute;
    left: 20px;
    color: $color-black;
  }
  &__img {
    max-width: 25vh;
  }
}
//MENU HEADER

.menu-header__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  height: 320px;
}
